@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
* {
  box-sizing: border-box; /* Para que padding e border sejam incluídos no tamanho total dos elementos */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; /* Suavização de fonte para Webkit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Suavização de fonte para Firefox */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; /* Background branco */
  color: #333333; /* Cor do texto */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #2b5797; /* Cor azul escuro da logo */
  font-weight: 700; /* Texto em negrito */
}

a {
  color: #3CB371; /* Cor verde da logo */
  text-decoration: none;
}

a:hover {
  color: #2a9d8f; /* Cor verde escuro no hover */
  text-decoration: underline;
}

.logo {
  width: 200px; /* Ajuste conforme necessário */
  height: auto;
}

.btn {
  @apply bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700;
}

.link {
  @apply text-green-500 hover:text-green-700 underline;
}

.header-title {
  @apply text-blue-900 font-bold;
}

.text-muted {
  @apply text-gray-500;
}
